<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
  <div class="my-auto">
    <div class="resume-item d-flex flex-column flex-md-row">
      <div class="mr-auto">

        <h1 class="mb-0">{{ .Site.Params.firstName }}
          <span class="text-primary">{{ .Site.Params.lastName }}</span>
        </h1>
        <div class="subheading mb-5">{{ .Site.Params.address }} ·
          <a href="/docs/resume/resume.pdf">{{ substr .Site.Params.resume 0 5}}<span
              style="display:none">-remove-</span>{{ substr .Site.Params.resume 5 }}</a>
        </div>
        <div class="subheading mb-5">
          <h5 class="mb-0">Contact me:</h5>
          Email:&nbsp;&nbsp;&nbsp;&nbsp;<a
            href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=kaumil.trivedi97@gmail.com" target="_blank">{{
            substr .Site.Params.email1 0 5}}<span style="display:none">-remove-</span>{{ substr .Site.Params.email1 5
            }}</a><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=kaumil_trivedi@sfu.ca"
            target="_blank">{{
            substr .Site.Params.email2 0 5}}<span style="display:none">-remove-</span>{{ substr .Site.Params.email2 5
            }}</a><br />
          Phone:&nbsp;&nbsp;&nbsp;&nbsp;{{ .Site.Params.phone }}
        </div>
      </div>

      {{ if .Site.Params.showQr }}
      {{ partial "contact-qr" . }}
      {{ end }}
    </div>
    <div>
      {{ .Content }}
      <ul class="list-inline list-social-icons mb-0">
        {{ range .Site.Params.handles }}
        <li class="list-inline-item">
          <a href="{{ .link }}" data-toggle="tooltip" title="{{ .name }}" data-offset="0 10" rel="me">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i
                class="fab {{ if .icon}}fa-{{ .icon }}{{ else }}fa-{{ lower .name }}{{ end }} fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</section>