<ul class="list-inline list-social-icons mb-0 bottomright">
            {{ range .Site.Params.handles }}
                <li class="list-inline-item">
                  <a href="{{ .link }}" data-toggle="tooltip" title="{{ .name }}" data-offset="0 10" rel="me">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fab {{ if .icon}}fa-{{ .icon }}{{ else }}fa-{{ lower .name }}{{ end }} fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
            {{ end }}
          </ul>